{% extends 'accounts/base.html' %}
{%load static%}
    {%block content%}
        </header>


            <div class="page-content-inner">

                <h4>Account Setting</h4>

                <nav class="responsive-tab mb-4">
                    <li class="uk-active"><a href="{%url 'Userdashboard'%}">Account</a></li>
                    <li><a href="{%url 'updatebilling'%}">Billing</a></li>
                    <li><a href="{%url 'updatebio'%}">Setting</a></li>
                </nav>

                <div uk-grid>

                    <div class="uk-width-2-5@m uk-flex-last@m">

                        <div class="uk-card-default rounded text-center p-4">
                            <div class="uk-position-relative my-4">
                                <div class="user-profile-photo  m-auto">
                                    <img src="{{bi.image.url}}" alt="">
                                </div>
                                <br>
                                <div class="uk-position-center">
                                   <form method="POST" enctype="multipart/form-data" action="{%url 'updateimage'%}" >
                                        {% csrf_token %}
                                        <input name="img" accept="image/*" id="img" type="file">
                                        <button type="submit" class="btn btn-default m-auto mb-3">Save photo</button>
                                   </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-expand@m">

                        <div class="uk-card-default rounded">
                            <div class="p-3">
                                <h5 class="mb-0"> Contact info </h5>
                            </div>
                            <hr class="m-0">
                            <form method="POST" action="{%url 'updatebio'%}" class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> First Name </h5>
                                    <input type="text" class="uk-input" name="fname" placeholder="Your name" id="fname">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Second Name </h5>
                                    <input type="text" class="uk-input" name="sname" placeholder="Your second" id="sname">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Phone </h5>
                                    <input type="text" class="uk-input" name="phone" placeholder="Phone Number" id="phone">
                                </div>
                                <br>
                                 <div class="uk-flex uk-flex-right p-4">
                                    <button type="reset" class="btn btn-link mr-2">Cancel</button>
                                    <button  type="submit" class="btn btn-default grey">Save Changes</button>
                                </div>
                            </form>
                        </div>

                        <div class="uk-card-default rounded mt-4">
                            <div class="p-3">
                                <h5 class="mb-0"> Billing address </h5>
                            </div>
                            <hr class="m-0">
                            <form method="POST" action="{%url 'updatebilling'%}" class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Number </h5>
                                    <input type="text" class="uk-input" name="num" placeholder="23, Block C2 " id="num">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Street </h5>
                                    <input type="text" class="uk-input" name="street" placeholder="Street Number" id="street">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> City </h5>
                                    <input type="text" class="uk-input" name="city" placeholder="City Name" id="city">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Postal Code </h5>
                                    <input type="text" class="uk-input" name="postal" placeholder="Postal Code" id="postal">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> State </h5>
                                    <input type="text" class="uk-input"  name="state" placeholder="State" id="state">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Country </h5>
                                    <input type="text" class="uk-input"  name="country" placeholder="Your Country" id="country">
                                </div>
                                 <div class="uk-flex uk-flex-right p-4">
                                    <button type="reset" class="btn btn-link mr-2">Cancel</button>
                                    <button type="submit" class="btn btn-default grey">Save Changes</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
    {%endblock%}