{% extends 'books/base.html' %}
{%load static%}
    {%block content%}
        <div class="page-content">
            <div class="container">
                <h4> Web Development and Designing Courses </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for co in c%}
                                <div>
                                    <a href="{{co.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{co.author}}</span>
                                                <img src="{{co.image.url}}">

                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{co.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4>Mobile App</h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for mo in m%}
                                <div>
                                    <a href="{{mo.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{mo.author}}</span>
                                                <img src="{{mo.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{mo.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> Business </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for bu in b%}
                                <div>
                                    <a href="{{bu.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{bu.author}}</span>
                                                <img src="{{bu.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{bu.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> IT Software</h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for i in it%}
                                <div>
                                    <a href="{{i.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{i.author}}</span>
                                                <img src="{{i.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{i.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> Marketing </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for m in ma%}
                                <div>
                                    <a href="{{m.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{m.category}}</span>
                                                <img src="{{m.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{m.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4>Lifestyle</h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for li in l%}
                                <div>
                                    <a href="{{li.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{li.author}}</span>
                                                <img src="{{li.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{li.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> Architecture </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for ar in a%}
                                <div>
                                    <a href="{{ar.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{ar.author}}</span>
                                                <img src="{{ar.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{ar.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> Photography </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for ph in p%}
                                <div>
                                    <a href="{{ph.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{ph.author}}</span>
                                                <img src="{{ph.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{ph.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> Music </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for mus in mu%}
                                <div>
                                    <a href="{mus.link}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{mus.author}}</span>
                                                <img src="{{mus.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{mus.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <h4> Ecommerce </h4>
                <div class="section-small">
                        <div class="uk-child-width-1-4@m uk-child-width-1-3@s " uk-grid>
                            {%for eco in e%}
                                <div>
                                    <a href="{{eco.link}}">
                                        <div class="course-card episode-card animate-this">
                                            <div class="course-card-thumbnail ">
                                                <span class="item-tag">{{eco.author}}</span>
                                                <img src="{{eco.image.url}}">
                                            </div>
                                            <div class="course-card-body">
                                                <h4 class="mb-0">{{eco.title}} </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
                </div>
                <!-- pagination menu -->
                <ul class="uk-pagination my-5 uk-flex-center" uk-margin>
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">4</a></li>
                    <li class="uk-active"><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">10</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
            </div>
        </div>
    {%endblock%}